{% extends "base.html" %}

{% block title %}coch_to_wiki{% endblock %}

{% block header %} 
  <h1>Top 10 Wikipedia Article for the Cochrane Review</h1>
{% endblock %}

{% block content %}
  <form method="post" class="coch_wiki">
    <div class="group">
      <label for="review">Cochrane title</label>
      <input name="review" class="title">
    </div>
    <div class="group">
      <label for="doi">Cochrane doi</label>
      <input name="doi" class="doi">
    </div>
    <div class="group">
      <input type="submit" value="submit" class="submit">
    </div>
  </form>
  
  <h3 class="display">{{ review }}</h3>
  <h3 class="display">{{ doi }}</h3>
  
  <table id="coch_to_wiki">
    <tr>
      <th>Wikipedia Article</th>
      <th>Similarity</th>
    </tr>
    {% for a, s in article|zip(similarity) %}
      <tr>
        <td><a href="https://en.wikipedia.org/wiki/{{ a }}" class="table">{{ a }}</a></td>
        <td>{{ s }}</td>
      </tr>
    {% endfor %}
  </table>
  
  <div>
    <h3><a href="/">Back to Main</a></h3>
  </div>
{% endblock %}